/* Apply styles to the entire page */
body {
   font-family: Arial, sans-serif;
   margin: 20px;
}

/* Style the table */
table {
   width: 100%;
   border-collapse: collapse;
}

/* Style table header cells */
th {
   background-color: silver;
   font-weight: bold;
   padding: 8px;
   text-align: left;
}

/* Style alternate table rows */
tr:nth-child(even) {
   background-color: #f2f2f2;
}

/* Style table cells */
td {
   padding: 8px;
   border: 1px solid #ddd;
}

/* Apply specific styles to cells with class 'medium' */
td.medium {
   font-size: 14px;
}

/* Apply specific styles to cells with class 'normal' */
td.normal {
   font-size: 12px;
}

body {
   margin: 0;
   padding: 0;
   overflow: hidden;
}

#logo-container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
   transition: opacity 1s ease-in-out;
}

#welcome-text {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
   transition: opacity 1s ease-in-out;
}

.hidden {
   display: none;
}

#team-buttons {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.team-button {
   margin: 0 10px;
   padding: 10px;
   background-color: #3498db;
   border: none;
   cursor: pointer;
   transition: transform 0.3s ease-in-out;
}

.team-button img {
   width: 50px; /* Adjust the size of the team logos */
   height: 50px;
   border-radius: 50%; /* Make the logos circular */
}

.all-teams-button {
   margin-top: 20px;
   padding: 10px;
   background-color: #2ecc71;
   border: none;
   cursor: pointer;
}

